
<!--Header-->
<mat-toolbar>    
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span>My Application</span>
</mat-toolbar>

<!--Body-->
<mat-drawer-container class="example-container" [hasBackdrop]="false">

    <!--Sidenav-->
    <mat-drawer #drawer [mode]="'side'">
        I'm a drawer
    </mat-drawer>

    <!--Content page-->
    <mat-drawer-content>

        
        
    </mat-drawer-content>

</mat-drawer-container>



<!--Router-->
<router-outlet></router-outlet>